package private

import "thx.test/gen/routes"

templ index() {
	<div>PRIVATE</div>

	<form hx-get={ routes.Public().GetLogout().Path() }>
        <button type="submit">Logout</button>
	</form>

	<h3>SSE Test</h3>
	<div hx-sse:connect={ routes.Private().Events().Path() }>
		Waiting for events...
	</div>

	<h3>WebSocket Test</h3>
	<div hx-ws:connect={ routes.Private().Ws().Path() }>
		<form hx-ws:send>
			<input name="message" type="text" placeholder="Type a message..." />
			<button type="submit">Send</button>
		</form>
		<div id="ws-output"></div>
	</div>
}
