package pages

import (
	"context"
	"thx.test/gen/routes"
	"thx.test/web/mw"
)

templ baseLayout(content templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>THX</title>
			<meta name="htmx-config" content="extensions:hx-preload,hx-ws,hx-sse"/>
			<script src={ routes.Assets().HtmxMinJs() } nonce={ mw.GetNonce(ctx) }></script>
			<script src={ routes.Assets().HxPreloadMinJs() } nonce={ mw.GetNonce(ctx) }></script>
			<script src={ routes.Assets().HxWsMinJs() } nonce={ mw.GetNonce(ctx) }></script>
			<script src={ routes.Assets().HxSseMinJs() } nonce={ mw.GetNonce(ctx) }></script>
			<meta name="csrf-token" content={ mw.GetCSRFToken(ctx) }/>
		</head>
		<body hx-headers={ csrfHeader(ctx) }>
			@content
		</body>
	</html>
}

func csrfHeader(ctx context.Context) string {
	return `{"` + mw.CSRFHeaderName() + `":"` + mw.GetCSRFToken(ctx) + `"}`
}
