package pages

import "thx.test/gen/routes"

templ baseLayout(content templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>THX</title>
            <script src={ routes.Assets().HtmxMinJs() }></script>
            <script src={ routes.Assets().HxWsMinJs() }></script>
            <script src={ routes.Assets().HxSseMinJs() }></script>
		</head>
		<body hx-ext="preload">
			@content
		</body>
	</html>
}
